@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XPTO</h1>
    <p class="lead">Selecione o arquivo</p>
    <h5>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />
            <br>
            <input type="submit" value="Importar" />
        }
       
    </h5>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

</div>

