<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConexaoSQL" value="XPTO" />    
  </appSettings>
  <connectionStrings>
    <add name="XPTO" connectionString="Server=DESKTOP-NVQANVS;Database=DB_XPTO;User ID=xpto;Password=123456;Trusted_Connection=False;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>